body {
  background-color:white;
  /* display:flex; */
  /* width: 100%; */
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home_row1 {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: ridge;
}

.home_row1_left {
  width: 45%;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}

.home_row1_right {
  width: 45%;
  padding-right: 5%;
  justify-content: right;
  align-items: center;
  display: flex;
  /* background-color: greenyellow; */
}

.home_row1_left_text {
  display: flex;
  flex-direction: column;
}

.home_row1_left_img {
  padding-right: 10px;
  padding-top: 10px;
}

.home_row1_left_text_label1 {
  padding-bottom: 5px;
  font-size: 20.8px;
}
.home_row1_left_text_label2 {
  font-size: 16px;
}

.home_row1_right label {
  padding-right: 10px;
  font-size: 16px;
}

.home_row1_right button {
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #18719b;
  color: white;
  font-size: 16px;
  border: 0;
}

.home_row1_right button:hover {
  background-color: rgb(41, 41, 61);
}

/***************end 1st row of App/home***********/

.home_row2 {
  width: 100%;
  justify-content: center;
  display: flex;
  background-attachment: fixed;
}

.home_row2_inner {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 15%;
  padding: 50px;
  align-content: center;
}

.home_row2_inner_label1{
  font-size: 32px;
  color: white;
  padding-bottom: 15px;
}

.home_row2_inner_label2{
  font-size: 25.6px;
  color:white;
  padding-bottom: 15px;
}

.home_row2_inner_row1 {
  background-color: white;
  justify-content: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.home_row2_inner_row1 tr {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home_row2_inner_row1_col,
.home_row2_inner_row1_col1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}

.home_row2_inner_row1_col1{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.home_row2_inner_row1_col label,
.home_row2_inner_row1_col1 label {
  padding-bottom: 10px;
  /* font-size: 16px; */
  }

.home_row2_inner_row1_col select {
  border: 0ch;
  outline: 0ch;
  height: 30px;
}

.home_row2_inner_row1_col input,
.home_row2_inner_row1_col1 input {
  border: 0ch;
  outline: 0ch;
}

.home_row2_inner_row1_col_button {
  width: 25%;
}

.home_row2_inner_row1_col_button button:hover{
  background-color: rgb(41, 41, 61);
}

.home_row2_inner_row1_col_button button {
  width: 100%;
  height: 100%;
  background-color: #18719b;
  border: none;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.home_row2_tremCondition{
  padding-top: 10px;
  color: white;
  justify-content: right;
  display: flex;
  width: 100%;
}

.home_row2_tremCondition label{
  padding: 2px;
}

.home_row2_tremCondition_label2{
  color:#18719b;
}


/*****************end 2nd row of App/home**********/
.home_row3 {
  width: 100%;
  background-color: white;
  height: 40vh;
  margin-top: 0%;display: flex;
}

.home_row3 ul {
  padding: 10px;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  /* justify-content: center; */
}

.home_row3 li {
  width: 18%;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 1%;
}

.home_row3 li img {
  padding-bottom: 30px;
}

.home_row3 li div {
  justify-content: center;
  display: flex;
}

.home_row3 li label {
  justify-content: center;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
}

/**************************************************************/
/******************* end App/home page************************/
/*************************************************************/


.signup{
  background-color:#f0f0f0;
  /* margin: 0; */
  
}

.signup_row1{
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-left: 5%; 
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:1px solid black;
}

.signup_row1_label{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.signup_row1_label1{
  font-size: 20.8px;
}

.signup_row1_label2{
  font-size: 16px;
}


/***********************end signup row1***********************/

.signup_row2{
  /* background-color: #e6edf1; */
  margin:0;
  /* height: 120vh; */
  justify-content: center;
  display: flex;
}

.signup_row2_outer{
  /* background-color: greenyellow; */
  /* padding-top: 15%; */
  width: 80%;
  flex-direction: column;
  text-align: right;
  margin-top: 6.1%;
  margin-bottom: 2.7%;
  /* padding-bottom: 20px; */
}

.signup_row2_outer_label{
  padding-right: 5px;
  font-size: 1.5rem;
}

.signup_row2_outer span{
  font-weight: bolder;
  font-size: xx-large;
  padding-left: 3px;
}

.signup_row2_inner{
  background-color: rgb(237, 204, 204);
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* padding: 20px; */
  /* padding-bottom: 10px; */
}

.signup_row2_inner label{
  padding-top: 10px;
}

.signup_row2_inner_col1{
  background-color: #ddd;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.signup_row2_inner_col1 label{
  font-size: 16px;
}

.signup_row2_inner_col2{
  background-color: white;
  width: 50%;
  padding: 10px;
}

.signup_row2_inner_col2_label{
  font-size: 1.3rem;
  text-align: left;
  display: flex;
  padding-left: 10px;
  /* padding-bottom: 10px; */
}

.signup_row2_inner_col2_inner_row{
  justify-content: space-between;
  display: flex;
  padding: 10px;
 }

 .signup_row2_inner_col2_inner_row label{
  width: 50%;
  text-align: left;
 }

 .signup_row2_inner_col2_inner_row input,select{
  width: 50%;
  border-left: none;
  border-top: none;
  border-right: none;
 border-bottom: 1px solid silver;
 outline: none;
  
 }


.signup_row2_inner_col2_inner_row_button{
  padding: 10px;
  display: flex;
  justify-content: right;
}

.signup_row2_inner_col2_inner_row_button button{
  padding: 12px 32px;
  background-color: #ff7c0b;
  color: white;
  border-radius: 25px;
  border: none;
}

.signup_row2_outer_end{
  text-align: center;
}


/*************************************************************/
/***********************end signup page***********************/
