.adminorderlist{
    background-color: #FFFFFF;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .7rem;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #6B7A99;
    width: 70%;
}

.adminorderlist_end{
    justify-content: center;
    display: flex;
    padding: 10px;
}

.adminorderlist_end button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .7rem;
    font-weight: 500;
    border: 1px solid #F5F6F7;
    background-color: white;
    outline: none;
    color: #6B7A99;
    border-radius: 20px;
    padding: 10px 20px;
}

.singleadminorderlist{
    background-color: #FAFBFC;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.singleadminorderlist_row{
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: gold; */
    /* justify-content: space-between; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.singleadminorderlist_row_input{
    display: flex;
    align-items: center;
}

.singleadminorderlist_row_input input{
    height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 1px solid silver;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #65b05f;
}

.singleadminorderlist_row_input span{
    padding-left: 10px;
}

.singleadminorderlist_row_button{
    width: 5%;
}

.singleadminorderlist_row_id{
    width: 8%;
}

.singleadminorderlist_row_price{
    width:8% ;
}

.singleadminorderlist_row_cost{
    width: 8%;
}

.singleadminorderlist_row_product{
    width: 14%;
}

.singleadminorderlist_row_cname{
    width: 14%;
}

.singleadminorderlist_row_sdate{
    width: 13%;
}

.singleadminorderlist_row_edate{
    width: 13%;
}

.singleadminorderlist_row_input{
    width: 12%;
}

.singleadminorderlist_row_arrow{
    width: 5%;
}

.singleadminorderlist_row_button_circle{
    height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid silver; 
  /* appearance: none; */
  outline: none;
  cursor: pointer;
}

