body {
  background-color: white;
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/***************************Start Footer page******************************/
.footer_row1 {
  display: flex;
  flex-direction: row;
  background: #eeeffb;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 10px;
}

.fooer_row1_row1 {
  width: 70%;
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
}

.footer_row1_col1 {
  display: flex;
  flex-direction: column;
  width: 37%;
  /* background-color: yellow; */
  margin: 2px;
  padding: 10px;
}

.footer_row1_col1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
}

.footer_row1_col2 h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.footer_row1_col1 label,
.footer_row1_col2 label {
  font-size: 1rem;
  color: #9da0ae;
}

.footer_row1_col1_input {
  padding-bottom: 10px;
  display: flex;
}

.footer_row1_col1_input input {
  width: 170px;
  /* height: 35px; */
  padding: 10.5px;
  border-radius: 3px;
  border: none;
  font-size: 00.8rem;
  outline: none;
}

.footer_row1_col1_input button {
  background-color: #fb2e86;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 3px;
  /* display: flex; */
}

.footer_row1_col1 label,
.footer_row1_col2 label {
  padding-bottom: 10px;
  font-size: 0.8rem;
}

.footer_row1_col2 {
  display: flex;
  flex-direction: column;
  width: 21%;
  /* background-color: yellow; */
  margin: 2px;
  padding: 10px;
  padding-top: 20px;
}

/****************************footer div1 end**************************/

.footer_row2 {
  display: flex;
  flex-direction: row;
  margin: 0%;
  background: #e7e4f8;
}

.footer_row2_col1 {
  width: 50%;
  text-align: center;
  /* background-color: white; */
  padding: 10px;
}

.footer_row2_col1 label {
  color: #9da0ae;
  font-size: 00.8rem;
}

.footer_row2_col2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.footer_row2_col2 div {
  padding-right: 5px;
}

/******************************************************************/
/**************************footer page end************************/
/*****************************************************************/

.featuredlist {
  background-color: #F5F5F5;
  font-family: 'Josefin Sans';
}

.featurelist_outer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:white;
  align-items: center;
  margin-top: 7%;
  margin-left: 0%;
  padding-left: 0%;
}

.featuredlist_outer_inner {
  /* width: 70%; */
  display: flex;
  padding: 10px;
  margin-left: 0px;
  padding-left: 0;

}

.featuredlist_outer_inner_col1 {
  width: 25%;
  background-color:white;
  margin: 10px;
  padding-bottom: 20px;
  /* height: 361px; */
  border-width: 2px;
  /* box-shadow: 0px 0px 15px rgb(224, 234, 240); */
  /* box-shadow: 0px 4px 4px rgba(0,0,0,0.25); */
  box-shadow: 0px 4px 15px rgba(0,0 ,0, .25);
}

.featuredlist_outer_inner_col1:hover{
   background-color: blue;
}

.featuredlist_outer_inner_col1 h4{
    color: #FB2E86;
    font-size: 1.2rem;
    /* padding-top: 5px; */
    margin: 0px;
    padding-top: 10px;
    
}

.featuredlist_outer_inner_col1 label{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: .9rem;
    color: #151875;
    font-family: 'Josefin Sans';
}

.featuredlist_outer_inner_col1:hover label{
  color: white;
}

.featuredlist_outer_inner_col1:hover h4{
  color: white;
}

.featuredlist_outer_inner_col1_divimg{
  background-color: #F6F7FB;
  padding-bottom: 10px;
  /* height: 236px; */
}

.featuredlist_outer_inner_col1_topimg{
  justify-content: left;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 10px;  
  /* display: none; */
}

.featuredlist_outer_inner_col1_topimg_3{
  display: none;
}

.featuredlist_outer_inner_col1:hover .featuredlist_outer_inner_col1_topimg_3{
  display: block;
  display: flex;
}

.featuredlist_outer_inner_col1_topimg img{
  padding-right: 15px;
}

.featuredlist_outer_inner_col1_img{
    /* background-color: #F6F7FB; */
    width: 270px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* height: 236px; */
    margin-bottom: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.featuredlist_outer_inner_col1:hover .featuredlist_outer_inner_col1_img{
  /* height: 155px; */
  padding: 0%;
}

.featuredlist_outer_inner_col1_button{
  display: none;
}

.featuredlist_outer_inner_col1:hover .featuredlist_outer_inner_col1_button {
 
display: block;
}

.featuredlist_outer_inner_col1_button button{
  /* padding: 5px; */
  width: 94px;
  /* height: 29px; */
  padding: 10px;
  border-radius: 2px;
  background-color: #08D15F;
  color: white;
  border: none;
  outline:none;
}


.featurelist_outer_img{
    display: flex;
}

.featurelist_outer_img_1,
.featurelist_outer_img_2,
.featurelist_outer_img_3,
.featurelist_outer_img_4{
    padding: 5px;
}

.h_barimg{
display: none;
align-content: center;
}

.featuredlist_outer_inner_col1:hover .h_barimg{
  display: block;
  /* align-items: center; */
  /* display: flex; */
}

.featuredlist_outer_inner_col1:hover .barimg{
  display: none;
}

.featuredlist_outer_inner_col1_3bar{
  padding-top: 10px;
  justify-content: center;
  display: flex;
}